body {
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 5em;
}

.title {
  color: #635F5D;
}

.bgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.formFilters {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.axisCheckBoxes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formXContainer {
  padding: 10px 30px;
}

.formX {
  text-align: center;
}

.formY {
  text-align: center;
}

.formYContainer {
  padding: 10px 30px;
}

.chartTitle {
  font-size: 1.5em;
  color: #137B80;
  margin: 10px 0px;
}

.pickerList {
  list-style-type: none;
  margin: 0;
  padding: 20px 0px;
  width: 60%;
  text-align: center;
}

.submitText {
    font-size: 1em;
    padding: 10px 20px;
    border-width: 2;
    border-radius: 20px;
    background-color: transparent;
    border-color: #635F5D;
    color: #635F5D;
    cursor: pointer;
}

.submitText:hover {
  background-color: #BFD4DB;
  color: #635F5D;
}
